<div id="logo">

  <img src="/img/BALogo.png" alt="Balancing Act Studios">

</div>

<div id="menu">
	<div id="ham">&#9776;</div>

  <div id="tab1" class="topic"><p><a href="/">Home</a></p></div>

  <div id="tab2" class="topic"><p>Graphics</p></div>

  <div id="tab2content" class="subtopic">

    <p><a href="/cgi.html">3D Graphics</a></p>

    <p><a href="/graphics.html">Other Graphics</a></p>

  </div>

  <div id="tab3" class="topic"><p><a href="/music.html">Music</a></p></div>

  <div id="tab4" class="topic"><p><a href="/about.html">About</a></p></div>

  <div id="tab5" class="topic"><p><a href="/about.html">Contact</a></p></div>

</div>
