---
# this is an empty front matter
---
<!doctype html>
<html>
  <head>
    {% include meta.html %}
    <title>Balancing Act Studios | About</title>
  </head>
  <body>
    <div class="container">
	  {% include menu.html %}
      <br>
      <br>
      <div class="list">
        <h1>About</h1>
        <p>My name is J. Lyons and I am a Web designer, 3D artist, blender hobbyist, amateur film maker, musician, and I'm trying to learn some photography too in order to improve my other work. My online presence is labeled by 'Balancing Act Studios' so that I can sound a bit more professional than I actually am. I hope to some day get involved in the film industy. I would love to be able to share my creations on the silver screen and reach so many people with my thoughts. First I have to figure out what to do there... I could animate, write, score films... Hence the label 'Balancing Act' since I am truely balancing all of these hobbies...
Well, I hope you enjoy the site. Feel free to shoot me an email if you have any comments on my work, advice you'd like to give, money you like to give... Haha. Or a job you'd like me to work on.
Also, the font in my logo wasn't made by me, but it was, in fact, made by TitanVex. It's called Origin and I got it off of dafont.com.</p>
        <br>
        <h1>Contact</h1>
        <p>
          Follow me on <a href="https://twitter.com/BalancingActSt" target="_blank">twitter</a> <br>
			    Like me on <a href="http://www.facebook.com/BalancingActStudios" target="_blank">facebook</a> <br>
			    Contact me: webmaster@balancingactstudios.com
        </p>
      </div>
    </div>
  </body>
</html>
